<br/ >
<div style="background-color:black; padding:12px">
	<pre style="color:white;">
		<%= @result.force_encoding("UTF-8").html_safe %>
	</pre>
</div>

<div class="large-12 columns centered">
	<div class="small-12 columns">
		&nbsp;
	</div>
	<div class="small-2 columns">
		<a class="button postfix" href="javascript:history.back()">Voltar</a>
	</div>
</div>