<center style="margin:40px;">
<img src="logo_codata.jpg">
</center>

<div id="some_id">

</div>

<!-- <%= debug @param%> -->

<!-- 
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<table class="responsive">

  <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
      <th>Header 4</th>
      <th>Header 5</th>
      <th>Header 6</th>
      <th>Header 7</th>
      <th>Header 8</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>row 1, cell 1</td>
      <td>row 1, cell 2</td>
      <td>row 1, cell 3</td>
      <td>row 1, cell 4</td>
      <td>row 1, cell 5</td>
      <td>row 1, cell 6</td>
      <td>row 1, cell 7</td>
      <td>
        <div class="button-bar"> 
          <ul class="button-group round">
            <li><a class="button tiny success" href="#" style="margin:0">Deploy</a></li>
            <li><a class="button tiny" href="#" style="margin:0">Latest</a></li>
            <li><a class="button tiny alert" href="#" style="margin:0">Undeploy</a></li>
          </ul> 
        </div>
      </td>
    </tr>
    <tr>
      <td>row 2, cell 1</td>
      <td>row 2, cell 2</td>
      <td>row 2, cell 3</td>
      <td>row 2, cell 4</td>
      <td>row 2, cell 5</td>
      <td>row 2, cell 6</td>
      <td>row 2, cell 7</td>
      <td>
        <div class="button-bar"> 
          <ul class="button-group round">
            <li><a class="button tiny success" href="#" style="margin:0">Deploy</a></li>
            <li><a class="button tiny" href="#" style="margin:0">Latest</a></li>
            <li><a class="button tiny alert" href="#" style="margin:0">Undeploy</a></li>
          </ul> 
        </div>
      </td>
    </tr>
    <tr>
      <td>row 3, cell 1</td>
      <td>row 3, cell 2</td>
      <td>row 3, cell 3</td>
      <td>row 3, cell 4</td>
      <td>row 3, cell 5</td>
      <td>row 3, cell 6</td>
      <td>row 3, cell 7</td>
      <td>
        <div class="button-bar"> 
          <ul class="button-group round">
            <li><a class="button tiny success" href="#" style="margin:0">Deploy</a></li>
            <li><a class="button tiny" href="#" style="margin:0">Latest</a></li>
            <li><a class="button tiny alert" href="#" style="margin:0">Undeploy</a></li>
          </ul> 
        </div>
      </td>
    </tr>
    <tr>
      <td>row 4, cell 1</td>
      <td>row 4, cell 2</td>
      <td>row 4, cell 3</td>
      <td>row 4, cell 4</td>
      <td>row 4, cell 5</td>
      <td>row 4, cell 6</td>
      <td>row 4, cell 7</td>
      <td>
        <div class="button-bar"> 
          <ul class="button-group round">
            <li><a class="button tiny success" href="#" style="margin:0">Deploy</a></li>
            <li><a class="button tiny" href="#" style="margin:0">Latest</a></li>
            <li><a class="button tiny alert" href="#" style="margin:0">Undeploy</a></li>
          </ul> 
        </div>
      </td>
    </tr>

  </tbody></table> -->