<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  	<br />
    <div data-alert class="alert-box <%= msg_class "#{name}" %> radius">
	  <%= msg %>
	  <a href="#" class="close">&times;</a>
	</div>
  <% end %>
<% end %>
